/**
 * TailwindCSS documentation at https://tailwindcss.com.
 */
@import 'tailwindcss';

@theme {
  --safe-area-inset-top: env(safe-area-inset-top, 3rem);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 2rem);

  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Open Sans', sans-serif;

  --spacing-safe-t: var(--safe-area-inset-top);
  --spacing-safe-b: var(--safe-area-inset-bottom);
  --spacing-screen-h-full: 100dvh;
  --spacing-screen-w-full: 100dvw;
}

:root {
  font-size: 16px;
}
